/**********************************************/
/*********** ADDITIONAL HTML ******************/
/**********************************************/

/* Hide UCD 2022 Recorded Seminars course */
.block-myoverview div[data-course-id="36"] {
  display: none;
}
/* Always show calender events, even at smallest breakpoint */
table.calendartable td.day div.hidden-phone {
	display: block !important;
}
table.calendartable td.day div.hidden-tablet {
	display: none !important;
}
/* Hide Event Type section of calendar popup -- irrelevant in our use case -- doesn't work on FF */
div.summary-modal-container div.row:has( i[title="Event type"]) {
	display: none;
}
/* Hide Course Name section of calendar popup -- irrelevant in our use case -- doesn't work on FF */
div.summary-modal-container div.row:has( i[title="Course"]) {
	display: none;
}
/* Hide Group Name section of calendar popup -- irrelevant in our use case -- doesn't work on FF */
div.summary-modal-container div.row:has( i[title="Group"]) {
	display: none;
}
/* Hide Event Type section of upcoming events -- irrelevant in our use case -- doesn't work on FF */
div.event div.row:has( i[title="Event type"]) {
	display: none;
}
/* Hide Course Name section of upcoming events -- irrelevant in our use case -- doesn't work on FF */
div.event div.row:has( i[title="Course"]) {
	display: none;
}
/* Hide Group Name section of upcoming events -- irrelevant in our use case -- doesn't work on FF */
div.event div.row:has( i[title="Group"]) {
	display: none;
}



/**********************************************/
/********** TILES PLUGIN CUSTOM CSS ***********/
/**********************************************/

/* Remove unused element between course image and course tiles */
#abovetiles {
  display: none;
}
/* Make the Tiles modal overlay fully transparent so we don't get flashes.  It was only .2 anyway. */
#window-overlay {
  opacity: 0;
}
/* Hide student course dashboard controls.  We don't need them right?  This has the happy side effect of making the tiles fill full width. */
#page-course-view-tiles .studentdash {
  display: none;
}
/* Center course tiles */
.format-tiles ul.tiles#multi_section_tiles {
  justify-content: center;
}
